<div class="inner-wrap">
  <nav id="nav-bar" class="tab-bar">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">Projects and Expenses</h1>
    </section>
  </nav>
      <!-- Off Canvas Menu -->
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label>Projects</label></li>
      <li><a class='list_projects' href="#">List</a></li>
      <li><label>Time &amp; Expenses</label></li>
      <li><a href="#expenses/list">List</a></li>
      <li><a href="#expenses/add">Add new</a></li>
      <li><label>Settings</label></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </aside>
  <div id="main-region" class="container">
      <p>App loading...</p>
  </div>
   <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>
</div>